<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="VuelaFacil">
    <head>
        
        <section bgcolor="black">vuela facil agenda tus viajes.</section>
        <title>Vuela Facil</title>
        <center>  <h1 style="color:white; font-size: 40px"> BIENVENIDOS A  VUELA FACIL </h1>  </center>
        <meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">        
    </head>
    <body class="bg-danger">
        <header>
        </header>
        <main class="row m-3" ng-controller="filasUsuarios">
            <article class="col-sm">
                <section class="m-2 p-3mx-auto container-md border bg-white" >

                    <div>
                        <label for="exampleFormControlInput1" class="form-label">Usuarios</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"  value="" ng-model="cedula"/>
                        <br/>

                        <button type="button" class="btn btn-danger" ng-click="consultar()">Consultar</button>
                    </div>  
                </section>

                <section class="m-2 p-3mx-auto container-md border bg-white">
                    <div class="mb-4">
                        <label for="exampleFormControlInput1" class="form-label">Vuelos</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"  value="" ng-model="cedula"/>
                        <br/>

                        <button type="button" class="btn btn-danger" ng-click="consultar()">Consultar</button>
                    </div>

                </section>
            </article>
          
            <article class="col-sm">
                  <article class="col-sm">
                <section class="m-2 p-4 mx-auto container-md border bg-white">|
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Num_identificacion</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Telefono</th> 
                                <th scope="col">Contacto_Emergencia</th> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="fila in filas">
                                <td>{{fila.idusuarios}}</td>
                                <td>{{fila.Num_identificacion}}</td>
                                <td>{{fila.Nombre}}</td>
                                <td>{{fila.Apellido}}</td>
                                <td>{{fila.Correo}}</td>
                                <td>{{fila.Telefono}}</td>
                                <td>{{fila.Contacto_Emergencia}}</td><!-- comment -->
                                <!--<td>
                                    <button type="button" class="btn btn-success">Editar</button>
                                    <button type="button" class="btn btn-danger">Remover</button>
                                </td>-->
                            </tr>
                        </tbody>
                    </table>
                </section>
            </article>
                <section class="m-2 p-4 mx-auto container-md border bg-white">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Codigo_reserva</th>
                                <th scope="col">Matricula</th>
                                <th scope="col">Aerolinea</th>
                                <th scope="col">Hora_salida</th>
                                <th scope="col">Origen</th> 
                                <th scope="col">Fecha_vuelo</th> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="fila in filas">
                                <td>{{fila.idvuelos}}</td>
                                <td>{{fila.Codigo_reserva}}</td>
                                <td>{{fila.Matricula}}</td>
                                <td>{{fila.Aerolinea}}</td>
                                <td>{{fila.Hora_salida}}</td>
                                <td>{{fila.Origen}}</td>
                                <td>{{fila.Fecha_vuelo}}</td><!-- comment -->
                                <!--<td>
                                    <button type="button" class="btn btn-success">Editar</button>
                                    <button type="button" class="btn btn-danger">Remover</button>
                                </td>-->
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section class="m-2 p-3 mx-auto container-md border bg-white">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Eliminar Vuelo</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"  value="" ng-model="idcuenta"/>
                        <br/>
                        <button type="button" class="btn btn-warning" ng-click="borrar()">Eliminar</button>
                    </div>
                </section>
                <section class="m-2 p-3 mx-auto container-md border bg-white">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre"  value="{{nombre}}" ng-model="nombre"/>
                        <label for="edad" class="form-label">Edad</label>
                        <input type="text" class="form-control" id="edad"  value="{{edad}}" ng-model="edad"/>
                        <label for="correo" class="form-label">Correo</label>
                        <input type="text"  class="form-control" id="correo"  value="{{correo}}" ng-model="correo"/>
                        <br/> <!--salto de línea-->
                        <button type="button" class="btn btn-warning" ng-click="actualizar()">Actualizar</button>
                    </div>
                </section>  
            </article>
        </main>
        <footer>
            <center>  <h1 style="color:white; font-size: 12px"> VUELA FACIL: dedicados al gestionamiento de tus tiquetes de vuelo. </h1>  </center>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script src="js/angular-bootstrap.js" type="text/javascript"></script>
        <script src="js/cedula.js"></script>
    </body>
</html>